<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bonvoy Block Card Component</title>
    <meta name="template" content="page-content" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="/etc.clientlibs/mvw/clientlibs/clientlib-base.css"
      type="text/css"
    />
    <script
      type="text/javascript"
      src="/etc.clientlibs/mvw/clientlibs/clientlib-dependencies.js"
    ></script>
    <link
      rel="stylesheet"
      href="/etc.clientlibs/mvw/clientlibs/clientlib-dependencies.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/etc.clientlibs/mvw/clientlibs/clientlib-tmvc.css"
      type="text/css"
    />
  </head>
  <body class="page basicpage">

    <section class="bonvoy-block" aria-labelledby="bonvoy-brands-title">
      <div class="grid-container">
        <div class="bonvoy-block__container">
          
          <div class="bonvoy-block__header align-center m-align-center">
            <div class="bonvoy-block__logo">
              <img 
                src="https://cache.marriott.com/content/dam/marriott-digital/bonvoy/header/en_us/logo/web/unlock/assets/bv-bonvoy-header-logo-66788.png" 
                alt="Marriott Bonvoy" 
                class="bonvoy-block__logo-img"
              />
            </div>
            <h2 class="bonvoy-block__headline" id="bonvoy-brands-title">
              Your lifelong travel partner for every journey
            </h2>
          </div>
          <div class="bonvoy-block__categories">
            
          </div>
        </div>
      </div>
    </section>

    <script
      type="text/javascript"
      src="/etc.clientlibs/mvw/clientlibs/clientlib-site.js"
    ></script>
    <script
      type="text/javascript"
      src="/etc.clientlibs/mvw/clientlibs/clientlib-base.js"
    ></script>
    <script
      type="text/javascript"
      src="/etc.clientlibs/mvw/clientlibs/clientlib-tmvc.js"
    ></script>
  </body>
</html>
