<sly data-sly-use.destinations="com.mvw.core.models.DestinationDetailModel" />
<sly data-sly-use.content="com.mvw.core.models.StaticDetailModel" />
<sly data-sly-resource="${ 'schema' @ resourceType='mvw/components/tmvc/components/destination-details-schema' }"></sly>
<sly data-sly-resource="${ 'resorts' @ resourceType='mvw/components/tmvc/components/destinationsHero' }"></sly>
<sly data-sly-resource="${ 'hero' @ resourceType='mvw/components/tmvc/components/destinationsResortsDetails' }"></sly>
<sly data-sly-resource="${ 'StoryBlock' @ resourceType='mvw/components/tmvc/components/destinationStoryBlock' }"></sly>
<sly data-sly-resource="${ 'ideas' @ resourceType='mvw/components/tmvc/components/destinationVacationIdeas' }"></sly>
<sly data-sly-resource="${ 'promos' @ resourceType='mvw/components/tmvc/components/destinationPromotion' }"></sly>