.seperator {
  .section-divider {
    height: 0;
    border-top: 1px solid #8E8E8E;
    box-sizing: border-box;

    width: calc(100% - 96px);
    max-width: 1279px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .desk-fixed-1280 {
    .seperator {
      .section-divider {
        width: 100%;
        max-width: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .seperator {
    .section-divider {
      width: calc(100% - 48px);
    }
  }

}
