<div class="resort-list-filter-cmp" data-mod="resort-list-filter-cmp">
    <div class="grid-container">
        <div class="filters">
            <div class="filter-group">
                <label for="regionFilter">By Location</label>
                <select id="regionFilter"></select>
            </div>

            <div class="filter-group">
                <label for="brandFilter">By Brand</label>
                <select id="brandFilter"></select>
            </div>
        </div>

        <div class="columns">
            <div id="leftColumn" class="leftColumn"></div>
            <div id="rightColumn" class="rightColumn"></div>
        </div>
    </div>
</div>
