<div class="cmp-container container-paddingwidth">

    <!-- Standard Teaser (Stacked Left) -->
    <div class="teaser cmp-teaser--stacked cmp-teaser--align-left">
        <div class="cmp-teaser">
            <div class="cmp-teaser__content">
                <h2 class="cmp-teaser__title">Unlock Your Inner Uphoria</h2>
                <div class="cmp-teaser__description">
                    <p>It's that elation you feel on vacation. And how savvy travelers go from one all-in getaway to the next. Join the club that opens doors. With carefree enjoyment and so-worth-it prices, Uphoria™ membership gives each vacation the utmost attention it deserves.</p>
                </div>
            </div>
            <div class="cmp-teaser__image">
                <div class="cmp-image">
                    <img src="/content/dam/new-club-brand-awareness/brand-awareness/uphoria.png" class="cmp-image__image" alt="Couple at sunset" />
                </div>
            </div>
            <span class="cmp-link__screen-reader-only">opens in a new tab</span>
        </div>
    </div>

    <br><br><hr><br><br>

    <!-- Center Teaser (Stacked Center) -->
    <div class="teaser cmp-teaser--stacked cmp-teaser--align-center">
        <div class="cmp-teaser">
            <div class="cmp-teaser__content">
                <h2 class="cmp-teaser__title">Unlock</h2>
                <div class="cmp-teaser__description">
                    <p>It's that elation you feel on vacation. And how savvy travelers go from one all-in getaway to the next. Join the club that opens doors. With carefree enjoyment and so-worth-it prices, Uphoria™ membership gives each vacation the utmost attention it deserv</p>
                </div>
            </div>
            <div class="cmp-teaser__image">
                <div class="cmp-image">
                    <img src="/content/dam/new-club-brand-awareness/brand-awareness/uphoria.png" class="cmp-image__image" alt="Couple at sunset" />
                </div>
            </div>
            <span class="cmp-link__screen-reader-only">opens in a new tab</span>
        </div>
    </div>

    <br><br><hr><br><br>

    <!-- Action Teaser (Centered Action) -->
    <div class="teaser cmp-teaser--centered cmp-teaser--align-center">
        <div class="cmp-teaser">
            <div class="cmp-teaser__content">
                <h2 class="cmp-teaser__title">Interested in Learning More?</h2>
                <div class="cmp-teaser__description">
                    <p>Memberships are currently for sale in person at the Planet Hollywood Cancun. Book your stay today at this amazing all-inclusive resort!</p>
                </div>
                <div class="cmp-teaser__action-container">
                    <a class="cmp-teaser__action-link" href="#">Book Now at Marriott Bonvoy</a>
                </div>
            </div>
            <div class="cmp-teaser__image"></div> 
            <span class="cmp-link__screen-reader-only">opens in a new tab</span>
        </div>
    </div>

    <br><br><hr><br><br>

    <!-- HERO VARIATION -->
    <div class="teaser cmp-teaser--hero cmp-teaser--align-left cmp-teaser--no-separator">
        <div class="cmp-teaser">
            <div class="cmp-teaser__content">
                <h2 class="cmp-teaser__title">Savvy Never Felt so Carefree</h2>
                <div class="cmp-teaser__description">
                    <p>Club membership lets you play like a rockstar—but pay like an insider. It’s how those in the know access the inside advantage on vacations designed with complete immersion in mind.</p>
                </div>
            </div>
            <div class="cmp-teaser__image">
                <div class="cmp-image">
                    <img src="/content/dam/new-club-brand-awareness/brand-awareness/uphoria.png" class="cmp-image__image" alt="Tropical Resort Pool" />
                </div>
            </div>
            <span class="cmp-link__screen-reader-only">opens in a new tab</span>
        </div>
    </div>
    <br><br><hr><br><br>

</div>
<br>
<br><br>
<hr>
<div class="cmp-container container-fullwidth-desktop">
    <div class="teaser cmp-teaser--full-width-hero cmp-teaser--align-center cmp-teaser--no-separator">
        <div class="cmp-teaser">
            <div class="cmp-teaser__content">
                <h2 class="cmp-teaser__title">Have It All</h2>
                <div class="cmp-teaser__description">
                    <p>Extraordinary. Elevated. Experiences.<br>
                    Uphoria™ empowers you with discounts reserved exclusively for members. Take your vacations to the next level.</p>
                </div>
            </div>
            <div class="cmp-teaser__image">
                <div class="cmp-image">
                    <img src="/content/dam/new-club-brand-awareness/brand-awareness/uphoria.png" class="cmp-image__image" alt="Beach landscape" />
                </div>
            </div>
            <span class="cmp-link__screen-reader-only">opens in a new tab</span>
        </div>
    </div>
    <br><br><hr><br><br>
    
</div>

<div class="teaser cmp-teaser--overlay-card cmp-teaser--align-left">
    <div class="cmp-teaser">
        <div class="cmp-teaser__content">
            <h2 class="cmp-teaser__title">Explore Destinations</h2>
            <div class="cmp-teaser__description">
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt.</p>
            </div>
        </div>
        <div class="cmp-teaser__image">
            <div class="cmp-image">
                <img src="/content/dam/new-club-brand-awareness/brand-awareness/uphoria.png" class="cmp-image__image" alt="Family running on beach" />
            </div>
        </div>
        <span class="cmp-link__screen-reader-only">opens in a new tab</span>
    </div>
</div>

