<sly data-sly-use.model="com.mvw.core.models.BgrippleModel" />
<div data-sly-use.wcmInit="/libs/wcm/foundation/components/page/initwcm.js" data-sly-test="${wcmInit.isTouchAuthoring}" title="Configure component here" class="cq-Overlay cq-Overlay--component cq-droptarget cq-Overlay--placeholder" style="color: rgba(0,0,0,.3);
        border-color: rgba(0,0,0,.3);
        background-color: rgba(255,255,255,.25);
        border-style: solid;
        border-width: 0.125rem;
        margin: -0.125rem;
        height: 50px;
        width: 100%;
        line-height: 2.875rem;
        font-size: 0.875rem;
        text-align: center;
    ">Configure ${componentContext.component.title}</div>
<div class="cmp-background-ripple ${model.hideSpacing ? 'hide-mobile-spacing' : ''}"
     style="background: url('${model.bgImg @ context='html'}'); background-position: center; background-size: cover; background-repeat: no-repeat;">

    <div class="bgripple-slot bgripple-slot-1 aem-GridColumn aem-GridColumn--default--6">
        <sly data-sly-resource="${'container1' @ resourceType='wcm/foundation/components/parsys'}"></sly>
    </div>

    <div class="bgripple-slot bgripple-slot-2 aem-GridColumn aem-GridColumn--default--6">
        <sly data-sly-resource="${'container2' @ resourceType='wcm/foundation/components/parsys'}"></sly>
    </div>

</div>