<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Static Frontend file</title>
    <meta name="template" content="page-content" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="/etc.clientlibs/mvw/clientlibs/clientlib-base.css"
      type="text/css"
    />
    <script
      type="text/javascript"
      src="/etc.clientlibs/mvw/clientlibs/clientlib-dependencies.js"
    ></script>
    <link
      rel="stylesheet"
      href="/etc.clientlibs/mvw/clientlibs/clientlib-dependencies.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/etc.clientlibs/mvw/clientlibs/clientlib-tmvc.css"
      type="text/css"
    />
  </head>
  <body class="page basicpage">
    <!-- variation 1. align-left content and heading-->
    <div class="story-block bg-theme-indigo" style="margin-top: 32px">
      <section class="content-flip grid-container">
        <div class="copy-section-wrapper">
          <div class="content-block align-left m-align-left">
            <h3 class="cmp-title heading3 align-left m-align-left">
              Finding The Path
            </h3>
            <!-- <div class="content-block__separator" aria-hidden="true"></div> -->
            <div class="content-block__section rte-content">
              <h6 class="heading6">
                Timeshare is a great way for parents to spend more time sharing
                fun family travel experiences through the years. Now, as Mike
                and Lauri enter retirement, the couple looks forward to making
                new memories of their own.
              </h6>
            </div>
            <div class="btn-group">
              <a href="#" class="btn btn--primary">Learn More</a>
              <a href="#" class="btn">Watch Video</a>
            </div>
          </div>
          <div
            class="split__col split__image small--bottom-right m-small--bottom-center"
          >
            <div class="image__large img--rounded">
              <img
                src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?w=900"
                alt="Featured image"
              />
              <div
                class="image__small small--bottom-right m-small--bottom-center img--rounded"
                aria-hidden="true"
              >
                <img
                  src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=400"
                  alt="Decorative image"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    <!-- variation 2 content flip-->
    <div class="story-block bg-theme-indigo" style="margin-top: 32px">
      <section class="content-flip grid-container">
        <div class="copy-section-wrapper content-flip">
          <div class="content-block align-center m-align-left">
            <h3 class="cmp-title heading3 align-center m-align-left">
              Finding The Path
            </h3>
            <!-- <div class="content-block__separator" aria-hidden="true"></div> -->
            <div class="content-block__section rte-content">
              <h6 class="heading6">
                Timeshare is a great way for parents to spend more time sharing
                fun family travel experiences through the years. Now, as Mike
                and Lauri enter retirement, the couple looks forward to making
                new memories of their own.
              </h6>
            </div>
            <div class="btn-group">
              <a href="#" class="btn btn--primary">Learn More</a>
              <a href="#" class="btn">Watch Video</a>
            </div>
          </div>
          <div
            class="split__col split__image small--bottom-right m-small--bottom-right"
          >
            <div class="image__large img--rounded">
              <img
                src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?w=900"
                alt="Featured image"
              />
              <div
                class="image__small small--bottom-right m-small--bottom-right img--rounded"
                aria-hidden="true"
              >
                <img
                  src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=400"
                  alt="Decorative image"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- variation 3-->
    <div class="story-block bg-theme-teal" style="margin-top: 32px">
      <section class="content-flip grid-container">
        <div class="copy-section-wrapper content-flip">
          <div class="content-block align-center m-align-left rte-content">
            <h3 class="cmp-title heading3 align-center m-align-left">
              Finding The Path
            </h3>
            <!-- <div class="content-block__separator" aria-hidden="true"></div> -->
            <div class="content-block__section rte-content">
              <h6 class="heading6">
                Timeshare is a great way for parents to spend more time sharing
                fun family travel experiences through the years. Now, as Mike
                and Lauri enter retirement, the couple looks forward to making
                new memories of their own.
              </h6>
            </div>
            <div class="btn-group">
              <a href="#" class="btn btn--primary">Learn More</a>
              <a href="#" class="btn">Watch Video</a>
            </div>
          </div>
          <div
            class="split__col split__image small--top-left m-small--bottom-center"
          >
            <div class="image__large img--rounded">
              <img
                src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?w=900"
                alt="Featured image"
              />
              <div
                class="image__small small--top-left m-small--bottom-center img--rounded"
                aria-hidden="true"
              >
                <img
                  src="https://images.unsplash.com/photo-1544005313-94ddf0286df2?w=400"
                  alt="Decorative image"
                />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

    <!-- variation 4. container-v2-->
    <div class="story-block bg-theme-indigo" style="margin-top: 32px">
      <section class="content-flip grid-container">
        <div class="copy-section-wrapper container-v2">
          <div class="content-block align-center m-align-left">
            <h3 class="cmp-title heading3 align-center m-align-left">
              Finding The Path
            </h3>
            <!-- <div class="content-block__separator" aria-hidden="true"></div> -->
            <div class="content-block__section rte-content">
              <h6 class="heading6">
                Timeshare is a great way for parents to spend more time sharing
                fun family travel experiences through the years. Now, as Mike
                and Lauri enter retirement, the couple looks forward to making
                new memories of their own.
              </h6>
            </div>
            <div class="btn-group">
              <a href="#" class="btn btn--primary">Learn More</a>
              <a href="#" class="btn">Watch Video</a>
            </div>
          </div>
          <div class="split__col split__image">
            <img
              class="image__large"
              src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?w=900"
              alt="Featured image"
            />
          </div>
        </div>
      </section>
    </div>

    <!-- variation 5. without container-v2 and w/o round images , no small/secondary image-->
    <div class="story-block bg-theme-teal" style="margin-top: 32px">
      <section class="content-flip grid-container">
        <div class="copy-section-wrapper">
          <div class="content-block split__col align-center m-align-left">
            <h3 class="cmp-title heading3 align-center m-align-left">
              Finding The Path
            </h3>
            <!-- <div class="content-block__separator" aria-hidden="true"></div> -->
            <div class="content-block__section rte-content">
              <h6 class="heading6">
                Timeshare is a great way for parents to spend more time sharing
                fun family travel experiences through the years. Now, as Mike
                and Lauri enter retirement, the couple looks forward to making
                new memories of their own.
              </h6>
            </div>
            <div class="btn-group">
              <a href="#" class="btn btn--primary">Learn More</a>
              <a href="#" class="btn">Watch Video</a>
            </div>
          </div>
          <div class="split__col split__image">
            <img
              class="image__large"
              src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?w=900"
              alt="Featured image"
            />
          </div>
        </div>
      </section>
    </div>

    <!-- variation 6. container-v2 video-->
    <div class="story-block bg-theme-indigo" style="margin-top: 32px">
      <section class="content-flip grid-container">
        <div class="copy-section-wrapper container-v2">
          <div class="content-block align-center m-align-left">
            <h3 class="cmp-title heading3 align-center m-align-left">
              Finding The Path
            </h3>
            <!-- <div class="content-block__separator" aria-hidden="true"></div> -->
            <div class="content-block__section rte-content">
              <h6 class="heading6">
                Timeshare is a great way for parents to spend more time sharing
                fun family travel experiences through the years. Now, as Mike
                and Lauri enter retirement, the couple looks forward to making
                new memories of their own.
              </h6>
            </div>
            <div class="btn-group">
              <a href="#" class="btn btn--primary">Learn More</a>
              <a href="#" class="btn">Watch Video</a>
            </div>
          </div>
          <div class="split__col split__image">
            <video
              class="image__large"
              controls
              poster="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/images/BigBuckBunny.jpg"
              aria-label="Featured video content"
            >
              <source
                src="https://commondatastorage.googleapis.com/gtv-videos-bucket/sample/BigBuckBunny.mp4"
                type="video/mp4"
              />
              Your browser does not support the video tag.
            </video>
          </div>
        </div>
      </section>
    </div>

    <!-- variation 7. container-v2. with 2 description and subheading-->
    <div class="story-block bg-theme-indigo" style="margin-top: 32px">
      <section class="content-flip grid-container">
        <div class="copy-section-wrapper container-v2">
          <div class="content-block align-left m-align-left">
            <h3 class="cmp-title heading3 align-left m-align-left">
              Finding The Path
            </h3>
            <!-- <div class="content-block__separator" aria-hidden="true"></div> -->
            <div class="content-block__section rte-content">
              <h6 class="content-block__subheading heading6">
                Where Style Meets Comfort
              </h6>
              <p class="content-block__description">
                Spread out in spacious villas with like-home comforts, most with
                amenities like kitchens, balconies, washers and dryers, and
                separate living areas to relax and unwind.
              </p>
            </div>

            <div class="content-block__section rte-content">
              <h6 class="content-block__subheading heading6">
                Family Vacations Enhanced
              </h6>
              <p class="content-block__description">
                From shared meals to game nights, your villa is a hub for family
                activity, so you can cherish moments with those who matter the
                most.
              </p>
            </div>
          </div>
          <div class="split__col split__image">
            <img
              class="image__large"
              src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?w=900"
              alt="Featured image"
            />
            <p class="image__caption">caption is here</p>
          </div>
        </div>
      </section>
    </div>

    <!-- variation 8. container-V3 -- has image curved overlay and how bg cpolor and overlay color is passed -->
    <div class="story-block" style="margin-top: 32px">
      <section class="grid-container">
        <div
          class="copy-section-wrapper content-flip container-v3 bg-theme-linen"
        >
          <div class="content-block align-left m-align-left">
            <h3 class="cmp-title heading3 align-left m-align-left">
              Finding The Path flip concave
            </h3>
            <!-- <div class="content-block__separator" aria-hidden="true"></div> -->
            <div class="content-block__section rte-content">
              <h6 class="content-block__subheading heading6">
                Where Style Meets Comfort
              </h6>
              <p class="content-block__description">
                Spread out in spacious villas with like-home comforts, most with
                amenities like kitchens, balconies, washers and dryers, and
                separate living areas to relax and unwind.
              </p>
            </div>

            <div class="content-block__section rte-content">
              <h6 class="content-block__subheading heading6">
                Family Vacations Enhanced
              </h6>
              <p class="content-block__description">
                From shared meals to game nights, your villa is a hub for family
                activity, so you can cherish moments with those who matter the
                most.
              </p>
            </div>
            <div class="btn-group">
              <a href="#" class="btn sample-button">Learn More</a>
            </div>
          </div>
          <div class="split__col split__image">
            <!-- ---! -- variation for curved image overlay -- this has to be optional only for v3 version--! --- -->
            <div class="curve-overlay concave" svg-color="teal" svg-bg-color="linen"></div>
            <img
              class="image__large img--rounded"
              src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?w=900"
              alt="Featured image"
            />
          </div>
        </div>
      </section>
    </div>

    <!-- variation 8. container-V3 -- has image curved overlay convex. how bg cpolor and overlay color is passed  -->
    
    <div class="story-block" style="margin-top: 32px" >
      <section class="grid-container">
        <div
          class="copy-section-wrapper content-flip container-v3 bg-theme-linen"
        >
          <div class="content-block align-left m-align-left">
            <h3 class="cmp-title heading3 align-left m-align-left">
              Finding The Path flip convex
            </h3>
            <!-- <div class="content-block__separator" aria-hidden="true"></div> -->
            <div class="content-block__section rte-content">
              <h6 class="content-block__subheading heading6">
                Where Style Meets Comfort
              </h6>
              <p class="content-block__description">
                Spread out in spacious villas with like-home comforts, most with
                amenities like kitchens, balconies, washers and dryers, and
                separate living areas to relax and unwind.
              </p>
            </div>

            <div class="content-block__section rte-content">
              <h6 class="content-block__subheading heading6">
                Family Vacations Enhanced
              </h6>
              <p class="content-block__description">
                From shared meals to game nights, your villa is a hub for family
                activity, so you can cherish moments with those who matter the
                most.
              </p>
            </div>
            <div class="btn-group">
              <a href="#" class="btn sample-button">Learn More</a>
            </div>
          </div>
          <div class="split__col split__image">
            <!-- ---! -- variation for curved image overlay -- this has to be optional only for v3 version. how bg cpolor and overlay color is passed--! --- -->
            <div class="curve-overlay" svg-color="teal" svg-bg-color="linen"></div>
            <img
              class="image__large img--rounded"
              src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?w=900"
              alt="Featured image"
            />
          </div>
        </div>
      </section>
    </div>


    <!-- variation 9. container-V3 -- has image curved overlay convex  -->
    
    <div class="story-block" style="margin-top: 32px" >
      <section class="grid-container">
        <div
          class="copy-section-wrapper container-v3 bg-theme-linen"
        >
          <div class="content-block align-left m-align-left">
            <h3 class="cmp-title heading3 align-left m-align-left">
              Finding The Path w/o flip convex
            </h3>
            <!-- <div class="content-block__separator" aria-hidden="true"></div> -->
            <div class="content-block__section rte-content">
              <h6 class="content-block__subheading heading6">
                Where Style Meets Comfort
              </h6>
              <p class="content-block__description">
                Spread out in spacious villas with like-home comforts, most with
                amenities like kitchens, balconies, washers and dryers, and
                separate living areas to relax and unwind.
              </p>
            </div>

            <div class="content-block__section rte-content">
              <h6 class="content-block__subheading heading6">
                Family Vacations Enhanced
              </h6>
              <p class="content-block__description">
                From shared meals to game nights, your villa is a hub for family
                activity, so you can cherish moments with those who matter the
                most.
              </p>
            </div>
            <div class="btn-group">
              <a href="#" class="btn sample-button">Learn More</a>
            </div>
          </div>
          <div class="split__col split__image">
            <!-- ---! -- variation for curved image overlay -- this has to be optional only for v3 version--! --- -->
            <div class="curve-overlay" svg-color="teal" svg-bg-color="linen"></div>
            <img
              class="image__large img--rounded"
              src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?w=900"
              alt="Featured image"
            />
          </div>
        </div>
      </section>
    </div>

     <!-- variation 10. container-V3 -- has image curved overlay convex how bg cpolor and overlay color is passed -->
    
    <div class="story-block" style="margin-top: 32px" >
      <section class="grid-container">
        <div
          class="copy-section-wrapper container-v3 bg-theme-teal"
        >
          <div class="content-block align-left m-align-left">
            <h3 class="cmp-title heading3 align-left m-align-left">
              Finding The Path w/o concave
            </h3>
            <!-- <div class="content-block__separator" aria-hidden="true"></div> -->
            <div class="content-block__section rte-content">
              <h6 class="content-block__subheading heading6">
                Where Style Meets Comfort
              </h6>
              <p class="content-block__description">
                Spread out in spacious villas with like-home comforts, most with
                amenities like kitchens, balconies, washers and dryers, and
                separate living areas to relax and unwind.
              </p>
            </div>

            <div class="content-block__section rte-content">
              <h6 class="content-block__subheading heading6">
                Family Vacations Enhanced
              </h6>
              <p class="content-block__description">
                From shared meals to game nights, your villa is a hub for family
                activity, so you can cherish moments with those who matter the
                most.
              </p>
            </div>
            <div class="btn-group">
              <a href="#" class="btn sample-button">Learn More</a>
            </div>
          </div>
          <div class="split__col split__image">
            <!-- ---! -- variation for curved image overlay -- this has to be optional only for v3 version--! --- -->
            <div class="curve-overlay concave" svg-color="teal" svg-bg-color="teal"></div>
            <img
              class="image__large img--rounded"
              src="https://images.unsplash.com/photo-1502685104226-ee32379fefbe?w=900"
              alt="Featured image"
            />
          </div>
        </div>
      </section>
    </div>
    <script
      type="text/javascript"
      src="/etc.clientlibs/mvw/clientlibs/clientlib-site.js"
    ></script>
    <script
      type="text/javascript"
      src="/etc.clientlibs/mvw/clientlibs/clientlib-base.js"
    ></script>
    <script
      type="text/javascript"
      src="/etc.clientlibs/mvw/clientlibs/clientlib-tmvc.js"
    ></script>
  </body>
</html>
