<div class="testimonials" role="region" aria-label="Testimonials">
    <div class="testimonials-container">
        <div class="testimonials">
            <div class="cards-container" role="list">
                <div class="testimonial-card" role="listitem" tabindex="0">
                    <div class="quote-testimonial">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="testimonial-card-footer">
                        <img src="/content/dam/newclub/home-page/Aspect%20ratio.png" alt="" loading="lazy" tabindex="0">

                        <div class="quote-author" tabindex="0">
                            <p class="quote-author-name">First Last</p>
                            <p class="quote-author-designation">Title </p>
                        </div>
                    </div>
                </div>

                <div class="testimonial-card" role="listitem" tabindex="0">
                    <div class="quote-testimonial">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                    <div class="testimonial-card-footer">
                        <img src="/content/dam/newclub/home-page/Aspect%20ratio.png" alt="" loading="lazy" tabindex="0">

                        <div class="quote-author" tabindex="0">
                            <p class="quote-author-name">First Last</p>
                            <p class="quote-author-designation">Title</p>
                        </div>
                    </div>
                </div>

                <div class="testimonial-card" role="listitem" tabindex="0">
                    <div class="quote-testimonial">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                    <div class="testimonial-card-footer">
                        <img src="/content/dam/newclub/home-page/Aspect%20ratio.png" alt="" loading="lazy" tabindex="0">

                        <div class="quote-author" tabindex="0">
                            <p class="quote-author-name">First Last</p>
                            <p class="quote-author-designation">Title</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>