<sly data-sly-use.resortPagemodel="com.mvw.core.models.ResortPageModel" />
<sly data-sly-use.content="com.mvw.core.models.StaticDetailModel" />
<sly data-sly-resource="${ 'resortOverview' @ resourceType='mvw/components/tmvc/components/resort-overview' }"></sly>
<sly data-sly-resource="${ 'resortalert' @ resourceType='mvw/components/tmvc/components/resort-alert' }"></sly>
<sly data-sly-resource="${ 'resortOffers' @ resourceType='mvw/components/tmvc/components/resort-offers' }"></sly>
<sly data-sly-resource="${ 'resortAccommodation' @ resourceType='mvw/components/tmvc/components/resort-accommodation' }"></sly>
<sly data-sly-resource="${ 'resortDining' @ resourceType='mvw/components/tmvc/components/resort-dining' }"></sly>
<sly data-sly-resource="${ 'resortAmenities' @ resourceType='mvw/components/tmvc/components/resort-amenities' }"></sly>
<sly data-sly-resource="${ 'resortexperiences' @ resourceType='mvw/components/tmvc/components/resort-experiences' }"></sly>
<sly data-sly-resource="${ 'resortdetails' @ resourceType='mvw/components/tmvc/components/resort-details' }"></sly>