<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Bonvoy Block Card Category Component</title>
    <meta name="template" content="page-content" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="/etc.clientlibs/mvw/clientlibs/clientlib-base.css"
      type="text/css"
    />
    <script
      type="text/javascript"
      src="/etc.clientlibs/mvw/clientlibs/clientlib-dependencies.js"
    ></script>
    <link
      rel="stylesheet"
      href="/etc.clientlibs/mvw/clientlibs/clientlib-dependencies.css"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="/etc.clientlibs/mvw/clientlibs/clientlib-tmvc.css"
      type="text/css"
    />
  </head>
  <body class="page basicpage">

    <!-- Bonvoy Block Card Category Component -->
    <article class="bonvoy-block-card__category">
      <div class="bonvoy-block-card__category-content">
        <h3 class="bonvoy-block-card__category-title">Luxury</h3>
        <p class="bonvoy-block-card__category-description align-center m-align-center">
          Hotels that bring destinations to life with bespoke programming and unparalleled service
        </p>
        <div class="bonvoy-block-card__brands">
          <div class="bonvoy-block-card__brand">
            <img src="https://cache.marriott.com/content/dam/marriott-digital/eb/global-brand-exclusive/en_us/logo/assets/eb-mi-brand-page-eb-log90400-43574.jpg" alt="EDITION" />
          </div>
          <div class="bonvoy-block-card__brand">
            <img src="https://cache.marriott.com/content/dam/marriott-digital/rz/global-brand-exclusive/en_us/logo/assets/rz-mi-brand-page-rz-log54882-28599.jpg" alt="The Ritz-Carlton" />
          </div>
          <div class="bonvoy-block-card__brand">
            <img src="https://cache.marriott.com/content/dam/marriott-digital/lc/global-property-shared/en_us/logo/assets/lc-tlc-explore-our-brands-35853.jpg" alt="The Luxury Collection" />
          </div>
          <div class="bonvoy-block-card__brand">
            <img src="https://cache.marriott.com/content/dam/marriott-digital/xr/global-brand-exclusive/en_us/logo/assets/xr-mi-brand-page-xr-log39993-06516.jpg" alt="St. Regis" />
          </div>
          <div class="bonvoy-block-card__brand">
            <img src="https://cache.marriott.com/content/dam/marriott-digital/wh/global-brand-exclusive/en_us/logo/assets/wh-mi-brand-page-wh-log36654-65482.jpg" alt="W Hotels" />
          </div>
          <div class="bonvoy-block-card__brand">
            <img src="https://cache.marriott.com/content/dam/marriott-digital/jw/global-brand-exclusive/en_us/logo/assets/jw-mi-brand-page-jw-log61299-55896.jpg" alt="JW Marriott" />
          </div>
        </div>
      </div>
    </article>

    <script
      type="text/javascript"
      src="/etc.clientlibs/mvw/clientlibs/clientlib-site.js"
    ></script>
    <script
      type="text/javascript"
      src="/etc.clientlibs/mvw/clientlibs/clientlib-base.js"
    ></script>
    <script
      type="text/javascript"
      src="/etc.clientlibs/mvw/clientlibs/clientlib-tmvc.js"
    ></script>
  </body>
</html>
