<div class="faq-wrapper  bg-theme-linen m-bg-theme-indigo" data-mod="single-qa">
    <div class="faq-section m-left grid-container" aria-label="Frequently Asked Question">
        <div class="qa-icon" aria-hidden="true">
            <img src="./images/qna.png" alt="">
        </div>
        <div class="faq-content m-left">
            <h3 class="faq-question">
                How does timeshare Marriott Vacation Club Destinations® work?
            </h3>
            <div class="faq-button">
                <a href="#" class="faq-button-link">Find Answers to FAQs</a>
            </div>
        </div>
    </div>
</div>