<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Owner Benefit Levels - Marriott Vacation Clubs</title>
    <meta name="template" content="page-content" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/etc.clientlibs/mvw/clientlibs/clientlib-base.css" type="text/css">
    <script type="text/javascript" src="/etc.clientlibs/mvw/clientlibs/clientlib-dependencies.js"></script>
    <link rel="stylesheet" href="/etc.clientlibs/mvw/clientlibs/clientlib-dependencies.css" type="text/css">
    <link rel="stylesheet" href="/etc.clientlibs/mvw/clientlibs/clientlib-tmvc.css" type="text/css">
  </head>
  <body>
    <section class="obl bg-theme-white" aria-labelledby="obl-title">
      <div class="grid-container">
        <div class="obl__container">
          <header class="obl__header">
            <h2 id="obl-title" class="cmp-title heading2 align-center m-align-center">
              Choose Your Level
            </h2>
            <div class="obl__description rte-content align-center m-align-center">
              <p>
                The number of Club Points you own determines your benefit level.
                Each comes with its own perks and offers to help you make the
                most of your vacations.
                <a href="#request-information" class="obl__link link--tertiary">
                  Schedule time
                </a>
                with a Vacation Specialist to talk about which level is right
                for you.
              </p>
            </div>
          </header>

          <div class="obl__levels" role="list" aria-label="Owner Benefit Levels">
            <div class="obl__level" role="listitem">
              <div class="obl__level-circle" aria-hidden="true" border-color="obl-owner">
                <h3 class="obl__level-name">OWNER</h3>
              </div>
              <p class="obl__level-points">UP TO 3,999 CLUB POINTS</p>
            </div>

            <div class="obl__level" role="listitem">
              <div class="obl__level-circle" aria-hidden="true" border-color="obl-select">
                <h3 class="obl__level-name">SELECT</h3>
              </div>
              <p class="obl__level-points">4,000 TO 6,999 CLUB POINTS</p>
            </div>

            <div class="obl__level" role="listitem">
              <div class="obl__level-circle" aria-hidden="true" border-color="obl-executive">
                <h3 class="obl__level-name">EXECUTIVE</h3>
              </div>
              <p class="obl__level-points">7,000 TO 9,999 CLUB POINTS</p>
            </div>

            <div class="obl__level" role="listitem">
              <div class="obl__level-circle" aria-hidden="true" border-color="obl-presidential">
                <h3 class="obl__level-name">PRESIDENTIAL</h3>
              </div>
              <p class="obl__level-points">10,000 TO 14,999 CLUB POINTS</p>
            </div>

            <div class="obl__level" role="listitem">
              <div class="obl__level-circle" aria-hidden="true" border-color="obl-chairman">
                <h3 class="obl__level-name">CHAIRMAN'S<br />CLUB</h3>
              </div>
              <p class="obl__level-points">15,000+ CLUB POINTS</p>
            </div>
          </div>
        </div>
      </div>
    </section>

     <script type="text/javascript" src="/etc.clientlibs/mvw/clientlibs/clientlib-site.js"></script>
    <script type="text/javascript" src="/etc.clientlibs/mvw/clientlibs/clientlib-base.js"></script>
    <script type="text/javascript" src="/etc.clientlibs/mvw/clientlibs/clientlib-tmvc.js"></script>
  </body>
</html>
