<sly data-sly-use.resortPagemodel="com.mvw.core.models.ResortPageModel" />
 <div style="color:grey; text-align:center;">
    <h3>Resort Overview</h3>
    </div>
 <sly data-sly-resource="${ 'resortOverview' @ resourceType='mvw/components/tmvc/components/resort-overview' }"></sly> 
<hr/>
<div style="color:grey; text-align:left;">
    <h3>Plannig Your Visit</h3>
    </div>
 <sly data-sly-resource="${ 'resortOverview' @ resourceType='mvw/components/tmvc/components/resort-alert' }"></sly>
 <hr/>
 <div style="color:grey; text-align:left;">
    <h3>Offers</h3>
    </div>
<sly data-sly-resource="${ 'resortOverview' @ resourceType='mvw/components/tmvc/components/resort-offers' }"></sly>
 <hr/>
<sly data-sly-resource="${ 'resortOverview' @ resourceType='mvw/components/tmvc/components/resort-accommodation' }"></sly>
 <hr/>

 <sly data-sly-resource="${ 'resortOverview' @ resourceType='mvw/components/tmvc/components/resort-dining' }"></sly>
 <hr/>
 <sly data-sly-resource="${ 'resortOverview' @ resourceType='mvw/components/tmvc/components/resort-amenities' }"></sly>
 <hr/>
 <sly data-sly-resource="${ 'resortOverview' @ resourceType='mvw/components/tmvc/components/resort-experiences' }"></sly>
 <hr/>
 <sly data-sly-resource="${ 'resortOverview' @ resourceType='mvw/components/tmvc/components/resort-details' }"></sly>
 <sly data-sly-resource="${ 'resortOverview' @ resourceType='mvw/components/tmvc/components/random-number' }"></sly>