<sly data-sly-use.model="com.mvw.core.models.DisclosureModel" />

<main class="disclosure-container" id="main-content" tabindex="-1">
  <div class="container">
    <h2 class="title">${model.welcomeText  @ context='text'}</h2>

    <div class="subtitle">
      ${model.copyText  @ context='html'}
    </div>

    <h3 class="resort-name">${model.resortName @ context='text'}</h3>

    <!-- Accessible Tab List -->
    <div class="tabs" role="tablist" aria-label="Disclosure Document Categories">

      <span class="tab-button active-tab" id="tab-active" role="tab" aria-selected="true" aria-controls="table1"
        tabindex="0" data-tab-target="table1">
        <span class="text"> ${model.active_tab  @ context='text'}</span>
        <span class="count">
          <span data-sly-text="${model.activePdfsCount @ context='text'}"></span>

        </span>
      </span>

      <div class="divider" aria-hidden="true">|</div>

      <span class="tab-button" id="tab-archive" role="tab" aria-selected="false" aria-controls="table2" tabindex="-1"
        data-tab-target="table2">
        <span class="text"> ${model.previous_tab  @ context='text'}</span>
        <span class="count">
         <span data-sly-text="${model.archivePdfsCount @ context='text'}"></span>
        </span>
      </span>
    </div>

    <div class="tabs-content">
      <!-- TABPANEL 1 -->
      <section id="table1" class="tabpanel" role="tabpanel" aria-labelledby="tab-active">
        <sly data-sly-use.templates="tableDetailsMap.html"
          data-sly-call="${ templates.tableData @ id='tab-active', pdfDetails=model.activeMap, tableType='active', column1=model.first_column, column2=model.second_column }" />
      </section>

      <!-- TABPANEL 2 -->
      <section id="table2" class="tabpanel hidden" role="tabpanel" aria-labelledby="tab-archive" hidden>
        <sly data-sly-use.templates="tableDetailsMap.html"
          data-sly-call="${ templates.tableData @ id='tab-archive', pdfDetails=model.archiveMap, tableType='archive',  column1=model.first_column, column2=model.second_column  }" />
      </section>
    </div>

    <div class="button-container" data-sly-test="${model.showDownloadAll == 'true'}">
      <button class="download-all" id="download-all">  ${model.download @ context='text'}</button>
    </div>
  </div>
</main>
