$white: #fff !default;
$indigo: #082940 !default;
$pearl: #F2F2F2 !default;
$teal: #E8F5F4 !default;
$linen: #F1EFEB !default;
$gray: #F2F2F2 !default;
$light-gray: #DCDCDC !default;
$tide:#C7D1D9  !default;


$indigo-20-dark: #062133;
$pearl-20-dark: #BBB3A0;
$teal-20-dark: #D9EEED;
$linen-20-dark: #C8C0B8;
$gray-20-dark: #C2C2C2;

$breakpoint-desktop-lg: 1440px;
$breakpoint-desktop: 1280px;
$breakpoint-tablet: 1024px;
$breakpoint-mobile: 768px;
$breakpoint-mobile-sm: 480px;
