@import '../../variables.scss';

.site-header {
    background-color: $white;
    padding: 15px $spacing-md 17px $spacing-md;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;

    @media (min-width: 768px) {
        padding: 40px 48px 32px;
    }

    &__container {
        display: flex;
        align-items: center;
        max-width: 1280px;
        margin: 0 auto;
        height: 43px;

        justify-content: flex-start;
        gap: $spacing-md;

        @media (min-width: 768px) {
            justify-content: flex-start;
            align-items: end;
            gap: 48px;
            height: 66px;
        }
    }

    &__logo {
        position: static;
        transform: none;
        z-index: 10;
        a {
            display: block;
            line-height: 0;
        }

        img {
            height: 43px;
            width: auto;
        }

        @media (min-width: 768px) {
            position: static;
            transform: none;
            img {
                height: 66px;
            }
        }
    }

    &__nav--desktop {
        display: none;

        @media (min-width: 768px) {
            display: block;
            margin-right: auto;
        }
    }

    &__menu {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 20px;

        &-link {
            text-decoration: none;
            color: $gray-color;
            font-size: 16px;
            font-family: "roboto";
            font-weight: 600;
            line-height: 20px;
            padding: 8px 0;
            position: relative;
            transition: color 0.3s ease;

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;

            }


            &:focus {
                &::after {
                    width: 100%;
                }
            }
        }
&-nav-link{
    &::after{
            width: 100%;
            height: 2px;
            background-color: $primary-coral;
            transition: width 0.3s ease;
        }
    }
    }

    &__login-button {

        &--desktop {
            display: none;

            @media (min-width: 768px) {
                display: block;
            }
        }

        &--mobile {
            display: block;
            margin-left: auto;

            @media (min-width: 768px) {
                display: none;
            }
        }
    }

    &__mobile-toggle {
        display: block;
        width: 24px;
        height: 24px;
        cursor: pointer;
        background-image: url('../resources/images/hamburgerMenuIcon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        order: 0;
        margin: 4.5px 3px;

        @media (min-width: 768px) {
            display: none;
        }
    }

    &__nav--mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $white;
        z-index: 1000;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        padding-left: 32px;
        box-sizing: border-box;

        @media (min-width: 768px) {
            display: none;
        }

        &.is-open {
            transform: translateX(0);
        }
    }

    &__mobile-menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 28px;

        .site-header__logo {
            position: static;
            transform: none;
            padding-top: 13px;

            img {
                height: 43px;
            }
        }
    }

    &__mobile-content-wrapper {
        border-top: 1px solid $black;
        padding-top: 32px;
        margin-right: 32px;
    }



    &__mobile-close {
        background: none;
        border: none;
        cursor: pointer;
        color: $gray-color;

        background-image: url('../resources/images/crossIcon.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;

        font-size: 24px;
        height: 12px;
        width: 12px;
        position: absolute;
        top: 16px;
        right: 16px;
    }

    &__mobile-menu-list {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &__mobile-menu-item {
        margin-bottom: 40px;

        &--login {
            width: 64px;
            &-seperator{
                padding-top: 32px;
                border-top: 2px solid $primary-coral;
            }

            a {
                font-size: 14px;
                font-family: "roboto";
                font-weight: 600;
                line-height: 17.50px;
                display: inline-flex;
                align-items: center;
                gap: 2px;

                &::after {
                    content: '';
                    background-image: url('../resources/images/Arrow--right.svg');
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: contain;

                    width: 12px;
                    height: 12px;
                    display: inline-block;

                    transition: transform 0.3s ease;
                }

                &:hover::after,
                &:focus::after {
                    transform: translateX(3px);
                }
            }
        }
    }

    &__mobile-menu-link {
        text-decoration: none;
        color: black;
        display: block;
        position: relative;

        font-size: 24px;
        font-family: "roboto";
        font-weight: 300;
        line-height: 30px;

        &:hover {
            text-decoration: underline;
        }

    }
}
 