.cmp-spacer {
    display: block;
    width: 100%;
    clear: both; 
    
    height: var(--spacer-height-mobile, 40px);

    @media (min-width: 768px) {
        height: var(--spacer-height-desktop, 64px);
    }
}